* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Karla", Arial, Helvetica, sans-serif;
}
h3 {
  margin-bottom: 25px;
}
p {
  line-height: 1.5;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
}
img {
  max-width: 100%;
}
.row {
  padding: 48px 0;
  margin: 0 20px;
}
.full-container {
  background-color: #495E57;
}

/* Navigation */
ul li {
  list-style-type: none;
  padding-right: 20px;
}
ul li:last-child {
  padding-right: 0;
}
.primary-navigation ul li a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.primary-navigation li a:hover {
  color: #495E57;
  text-decoration: underline;
}
.secondary-navigation li a {
  text-transform: uppercase;
}
footer {
  line-height: 1.5;
}
footer a {
  color: #EDEFEE;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

/* Flex and Grid */
.grid {
  display: grid;
  gap: 32px 22px;
}
/* Typography */
.primary {
  color: #F4CE14;
}
.display-title,
h1 {
  font-size: 48px;
}
.display-title,
h1,
.sub-title,
.h2 {
  font-family: "Markazi Text", Georgia, 'Times New Roman', Times, serif;

}
.sub-title,
.h2 {
  font-size: 28px;
}
.lead-text,
.section-title,
.section-categories,
.card-title,
.highlight-text {
  font-family: "Karla", Arial, Helvetica, sans-serif;
}
.lead-text {
  font-size: 18px;
  font-weight: 500;
}
.section-title {
  font-size: 20px;
  font-weight:900;
  text-transform: uppercase;
}
.section-categories {
  font-weight: 900;
  font-size: 16px;
}
.card-title {
  font-size: 18px;
  font-weight: bold;
}
.highlight-text {
  font-size: 16px;
  font-weight: 500;
}
.full-container h2 {
  color: #EDEFEE;
}
/* Hero */
.hero {
  margin-bottom: 50px;
  position: relative;
}
.hero h2 {
  margin-top: -20px;
  font-family: "Markazi Text";
}
.hero p {
  font-size: 18px;
  max-width: 280px;
  padding: 20px 0 42px 0;
  color: #EDEFEE;
}
/* Cards */
.card {
  background-color: #EDEFEE;
  border-radius: 16px 16px 0 0;
}
.card img:first-child {
  border-radius: 16px 16px 0 0;
}
.card-description h3 {
  display: flex;
  justify-content: space-between;
  margin: 17px 0 20px 0;
}
.card-description .price {
  color: #EE9972;
}
.card-description p {
  color: #495E57;
  min-height: 95px;
}
.card-description {
  padding: 10px 17px 25px 17px;
}
/* Testimonials */
.testimonial {
  padding: 15px;
}
.light {
  background-color: #EDEFEE;
}
.tan {
  background-color: #FBDABB;
}
.testimonials h2 {
  padding-top: 50px;
  text-align: center;
}
.testimonial--rating {
  display: flex;
  align-items: baseline;
}
.testimonial--author {
  display: flex;
  align-items: top;
  padding-top: 10px;
}
.star-rating {
  padding-left: 10px;
}
.testimonial--author img {
  width: 55px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 16px;
  padding-right: 10px;
}
.testimonial--description {
  color: #495E57;
}
/* Buttons */
.primary-button {
  display: inline-block;
  background-color: #F4CE14;
  color: #000;
  padding: 16px 45px;
  border: 0;
  border-radius: 16px;
  text-decoration: none;
}
.primary-button:hover {
  background-color: #000;
  color: #EDEFEE;
}
.secondary-button {
  margin-top: 35px;
  display: flex;
  color: #000;
  align-items: self-end;
  font-weight: bold;
  text-decoration: none;
}
.secondary-button:hover {
  color: #495E57;
  text-decoration: underline;
}
.secondary-button img {
  padding-left: 9px;
}
footer {
  background-color: #333333;
  color:#EDEFEE;
}

/* Forms */
textarea,
select,
input {
  padding: 10px;
  border: none;
  border-radius: 0;
  background: #EDEFEE;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
form {
  max-width: 360px;
}
fieldset {
  text-align: center;
  background-color: #495E57;
  color: #EDEFEE;
  border: none;
  margin-bottom: 16px;
}
form p {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
/* Utilities */
.round {border-radius: 16px;}

.offset {
  position: relative;
  bottom: -110px;
}
sup,
.alert {
  color: red;
  font-size: 18px;
}

/* Queries */
@media screen and (min-width: 767px) {
  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .grid {
    display: grid;
    align-items: top;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .testimonial-grid {
    display: grid;
    align-items: top;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 32px 22px;
  }
  .container {
    max-width: 894px;
    margin: 0 auto;
  }
  .display-title,
  h1 {
    font-size: 64px;
  }
  .sub-title,
  .h2 {
    font-size: 40px;
  }
}